{% extends 'base.html' %}

{% block 'content' %}


<div class="container">
    <div class="container">
        <h1>OnlyFlans: La Boutique del Flan Perfecto</h1>
        <p class="lead">Descubre los flanes más deliciosos y variados de la ciudad</p>
    </div>

<section class="bg-light py-5">
    <div class="container">
        <h2>Nuestra Historia</h2>
        <p>OnlyFlans nació del sueño de dos amigos apasionados por la repostería y el buen gusto. Fundada en 2015, nuestra tienda ha crecido rápidamente gracias a la devoción por la calidad y la innovación en cada uno de nuestros productos. Desde nuestros humildes comienzos, hemos trabajado incansablemente para crear un espacio donde la tradición y la creatividad se encuentran en cada bocado.</p>
    </div>
</section>
<!-- imagen -->
 {% load static %}
<div class="container">
    <div class="col-4 offset-4 text" >
        <img src="{% static 'tienda.jpg' %}" alt="logo" class="img-fluid mt-4 mb-4">      
    </div>
</div>

<section class="py-5">
    <div class="container">
        <h2>Nuestra Filosofía</h2>
        <p>En OnlyFlans, creemos que un buen postre no solo debe ser delicioso, sino también un reflejo de amor y dedicación. Cada flan que sale de nuestra cocina está hecho con pasión y atención a los detalles. Nos enorgullece utilizar ingredientes naturales y de la más alta calidad, apoyando también a productores locales.</p>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <h2>Nuestro Compromiso</h2>
        <p>Estamos comprometidos con la satisfacción de nuestros clientes. Ya sea que visites nuestra tienda para disfrutar de un flan en el lugar, o que lo lleves a casa para compartir con tus seres queridos, nos aseguramos de que cada experiencia con OnlyFlans sea memorable.</p>
    </div>
</section>

<section class="py-5 text-center">
    <div class="container">
        <h2>Visítanos</h2>
        <p>Ven y descubre por qué OnlyFlans se ha convertido en sinónimo de calidad y sabor. Te invitamos a visitarnos en [dirección de la tienda], donde podrás degustar nuestros flanes y encontrar tu nuevo postre favorito. También puedes seguirnos en nuestras redes sociales para estar al tanto de nuestras novedades y promociones especiales.</p>
    </div>
</section>
    </div> 
{% endblock %}

