<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
      <footer class="p-4" style="background-color: #c0c3c4; color: #fff ;">
        <div class="container d-flex justify-content-center mb-4">
         
            <div class="col-md-6">
              <div class="row">
                <div class="col-3">
                  <i class="fa-brands fa-github fa-2x" onclick="window.location.href = 'https://github.com/';"></i>
                </div>
                <div class="col-3">
                  <i class="fa-brands fa-linkedin fa-2x" onclick="window.location.href = 'https://www.linkedin.com/';"></i>
                </div>
                <div class="col-3">
                  <i class="fa-brands fa-square-twitter fa-2x" onclick="window.location.href = 'https://twitter.com/';"></i>
                </div>
                <div class="col-3">
                  <i class="fa-brands fa-square-facebook fa-2x"
                    onclick="window.location.href = 'https://www.facebook.com/;"></i>
                </div>
                </div>
            </div>
          </div>
          <!-- <div class="container-fluid"> -->
          <div class="col-12 text-center" style="font-family: 'Lobster', cursive; color: #FFFFFF;">
            <h2>Creado por Marilyn Villalobos y Marcio San Martín para Desafio Latam - 2024</h2>
          </div>  
        <!-- </div> -->

      </footer>


</body>

</html>