{% extends 'base.html' %}

{% block 'content' %}
<div class="container mt-5 mb-5 pb-5" style="background-color: rgb(246, 244, 248); font-family: 'Lobster', cursive; color: #3e3c3c;">
    
    <div class="row p-4 align-items-center">
      <div class="col-md-6">
        <h3 class="text-center mb-3 mt-4">
            Visítanos en:
         </h3>
         <p class="text-center mb-4">
             Independencia 208, Ovalle, Coquimbo 
         </p>
         <h3 class="text-center mb-3">
             Horario de atención:
          </h3>
          <p class="text-center mb-4">
             Lunes a sabado de 9:00 a 19:00 horas
         </p>
      </div>
        <div class="text-center col-6 mt-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3434.055213973415!2d-71.20206254594308!3d-30.604205822480466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968e4aa9334698e9%3A0xaa816c2c65f683b7!2sIndependencia%20208%2C%20Ovalle%2C%20Coquimbo!5e0!3m2!1ses-419!2scl!4v1722037349590!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <a href="{% url 'indice' %}" class="btn btn-primary">Volver al inicio</a>
        </div>


    </div>

</div>
{% endblock %}