<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bienvenido cliente</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block 'content' %}
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="h-100 p-5 text-white bg-dark rounded-3">

                    <h2>
                        Bienvenido {{user.get_username}}
                    </h2>
                    <p>
                        Tenemos una lista de productos exclusivos para ti. ¿Quieres conocer mas?
                    </p>
                    <a href="{% url 'acerca' %}" class="btn btn-outline-light">
                        Contactanos
                    </a>
                </div>
            </div>
        </div>

    <div class="container">

        <div class="row mt-4 mb-4">
            {% for flan in private_flans %}
            <!-- <div class="col-6 col-md-3"> -->
                <div class="card mb-2" style="width: 18rem;">
                    <img src="{{ flan.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ flan.name }}
                        </h5>
                        <p class="card text">
                            {{ flan.description }}
                        </p>
                    </div>

               <!--  </div>
 -->

            </div>
            {% endfor %}
        </div>


    </div>

    {% endblock %}

</body>

</html>